@model CreateUserViewModel
@{
    ViewData["Create an Account"] = "CreateUser";
}

<div class="col-sm-10 text-center" id="main-form-container">
    <h1 class="display-4">Create an Account</h1>
    <div class="form-group">
        <form action="CreateUser" method="post">
            <div asp-validation-summary="All">
                <div class="form-label-group">
                    <input asp-for="Email" type="Email" class="form-control" id="inputEmail"
                           placeholder="Email Address" required autofocus />
                    <label for="inputEmail"></label>
                </div>
                <br />
                <div class="form-label-group">
                    <input asp-for="Password" type="password" class="form-control" id="inputPassword"
                           placeholder="Desired Password" required autofocus />
                    <label for="inputPassword"></label>
                </div>
                <br />
                <div class="form-label-group">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="inputPassword"
                           placeholder="Confirm Password" required autofocus />
                    <label for="inputPassword"></label>
                </div>
                <br />
                <div class="form-label-group">
                    <input asp-for="FirstName" type="text" class="form-control" id="inputName"
                           placeholder="First Name" required autofocus />
                    <label for="inputName"></label>
                </div>
                <br />
                <div class="form-label-group">
                    <input asp-for="LastName" type="text" class="form-control" id="inputLastName"
                           placeholder="Last Name" required autofocus />
                    <label for="inputLastName"></label>
                </div>
                <br />
                <div class="form-label-group">
                    <button class="btn btn-block" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>




